.button{
    margin-top: 15px;
    width: 78%;
    height: 50px;
    border-radius: 40px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover{
    background: #2421CA;
    background: linear-gradient(180deg, #2421CA, #4E21CA);
}

@media all and (max-width: 700px){
    .button{
        width: 295px;
        margin-left: -11px;
        font-size: 16px;
        height: 48px;
    }
}