.card {
    display: flex;
    width: 750px;
    height: 480px;
    border-radius: 35px;
    box-shadow: 8px 14px 28px 10px rgba(0, 0, 0, 0.1);
}

.card__first {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    background-image: linear-gradient(
  0deg,
  hsl(241deg 81% 54%) 0%,
  hsl(243deg 83% 56%) 21%,
  hsl(245deg 84% 57%) 30%,
  hsl(246deg 86% 58%) 39%,
  hsl(248deg 88% 60%) 46%,
  hsl(249deg 90% 61%) 54%,
  hsl(250deg 92% 63%) 61%,
  hsl(250deg 95% 64%) 69%,
  hsl(251deg 97% 66%) 79%,
  hsl(252deg 100% 67%) 100%
);
}

.card__first--result{
    color:  #c8c7ff
}

.card__first--great{
    color: #c8c7ff;
    letter-spacing: 1px;
}

.card__first--text{
    color: #c8c7ff;

}

.card__second{
    float: right;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__second--summary{
    margin-left: -190px;
}

.card__first--text{
    width: 60%;
    margin-left: 75px;
}

@media all and (max-width: 700px){
    .card {
        display: block;
        width: 375px;
        margin-top: -185px;
        box-shadow: none;
        margin-left: -45px;
    }

    .card__first{
        float:left;
        margin-top: 100px;
        width: 100%;
        height: 300px;
        padding: 1.5em;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    
    }

    .card__first--great{
        margin-top: 20px;
        font-size: 18px;
        margin-left: -2px;
    }

    .card__first--result{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        margin-left: -1%;
    }

    .card__first--text{
        font-size: 12px;
        width: 200px;
        margin-top: 20px;
        margin-left: 85px;
    }

    .card__second {
        display: block;
        float: left;
        padding: 1.5em;
        width: 100%;
    }

    .card__second--summary{
        margin-left: -70%;
        margin-top: 8px;
        margin-bottom: 30px;
        font-size: 18px;
    }


}