body{
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
}

@media all and(max-width: 400px) {
  * {
    margin: 0;
    padding: 0;
  }
}